<html lang="en">
    <head>
        {% include "meta" %}

        <link rel="stylesheet" href="{{ content_dir }}\assets\style\{{ page.style | default: "page_list" }}.css">
    </head>
    <body>
        {% include "header" %}
        <div class="container">
            <div>
                {{ content }}
            </div>
            <div>
                {%- for post in paginate.pages %}
                <section>
                    <a href="{{ content_dir }}{{ post.path }}.html">{{ post.title }}</a>
                    <p>{{ post.subtext | default: "" }}</p>
                </section>
                {% endfor %}
            </div>
        </div>
        {% include "footer" %}
    </body>
</html>