<html>
    <head>
        <meta charset="utf-8"/>
        <meta name=viewport content="width=device-width, initial-scale=1"/>

        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:type" content="article"/>
        {% if subtext %}
            <meta property="og:description" content="{{ subtext }}"/>
        {% endif %}
    </head>
    <body>
        <h1>{{ title }}</h1>
        {% if subtext %}
            <h3>{{ subtext }}</h3>
        {% endif %}
        <div>
            {{ content }}
        </div>
    </body>
</html>