@use 'shared';
@use 'post_head';

.container {
  position: absolute;
  margin: 0;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;

  .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      height: 64px;
      width: 64px;
      margin: 16px;

      border-radius: 50%;
      color: white;
      background: shared.$color-accent;
      font-size: 40px;

      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
  }

  .post-head-left {
    p {
      font-size: 20px;
    }
  }

  .post-head {
    margin-bottom: 32px;
    border-bottom: 1px solid shared.$color-footer1;
  }
}

.home-title {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  text-decoration: none;
  color: shared.$color-text;
  font-family: "LemonMilk", sans-serif;
  font-size: 48px;

  .title-initial {
    font-size: 64px;
    color: shared.$color-accent;
    margin: 0 8px;
  }
}
