@use 'shared';
@use 'post_head';

.container {
  .post-head {
    border-bottom: 1px solid var(--color-footer);
    margin-bottom: 12px;
  }

  .container-content {
    img {
      width: 85%;
      display: block;
      margin: 0 auto;
      border-radius: 16px;
    }

    pre {
      width: 90%;
      margin: 0 auto;
      border-radius: 16px;
      font-size: 14px;
      margin-bottom: 1em;
    }
  }
}
