@use 'color';

$shadow-1: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-2: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$shadow-3: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$small-width: 600px;

@font-face {
  font-family: "LemonMilk";
  src: url("../font/LEMONMILK.otf") format("opentype");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  z-index: 1;
  background-color: var(--color-footer);
  color: var(--color-text);
  text-align: center;

  width: 100%;
  padding-top: 3vw;
  padding-bottom: 3vw;

  clip-path: polygon(0 3vw, 100% 0, 100% 100%, 0 100%);

  .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      height: 48px;
      width: 48px;
      margin: 16px;

      border-radius: 50%;
      color: white;
      background: var(--color-accent);
      font-size: 28px;

      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
  }

  p {
    margin: 0;
  }
}

header {
  height: 64px;
  width: 100%;
  background-color: var(--color-foreground);

  .header-title {
    display: inline-flex;
    align-items: center;
    height: 64px;

    vertical-align: middle;
    margin-left: 12px;

    text-decoration: none;
    color: var(--color-text);
    font-family: "LemonMilk", sans-serif;
    font-size: 32px;

    .title-initial {
      font-size: 48px;
      color: var(--color-accent);
      margin: 0 8px;
    }
  }

  .header-links {
    float: right;
    display: inline-flex;
    height: 64px;
    align-items: center;

    vertical-align: middle;
    margin-right: 12px;

    color: var(--color-text);
    font-family: "LemonMilk", sans-serif;
    font-size: 24px;

    a {
      color: var(--color-accent);
      text-decoration: none;
      padding: 0 8px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: $small-width) {
    height: 128px;

    .header-links {
      float: left;
      margin-right: 0;
      margin-left: 12px;
    }
  }
}

.container {
  background-color: var(--color-foreground);

  width: 60%;
  min-width: 600px;
  max-width: 960px;

  @media screen and (max-width: $small-width) {
    width: 100%;
    min-width: unset;
    max-width: unset;
  }

  min-height: 80vh;

  padding: 24px 40px;
  margin: 50px auto;

  font-size: 18px;
  color: var(--color-text);
  line-height: 1.25;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 4px 0;
  }

  a {
    text-decoration: none;
    color: var(--color-accent);
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
