<div class="page-post">
    <div class="post-head-left">
        <a class="post-title-link" href="{{ content_dir }}{{ view.path }}.html">{{ view.title }}</a>
        {%- if view.subtext %}
        <p class="subtitle">{{ view.subtext }}</p>
        {%- endif %}

        {%- if view.date %}
        <i class="fas fa-calendar-alt"></i><div class="icon-text">
        <p>{{ view.date }}</p>
        </div><br>
        {%- endif %}

        {%- if view.repository %}
        <i class="fab fa-{{ view.repository.icon | default: "github" }}"></i><div class="icon-text">
        <a href="{{ view.repository.url }}">{{ view.repository.display }}</a>
        </div><br>
        {%- endif %}

        {%- if view.tags %}
        <i class="fas fa-tag"></i><div class="icon-text">
        {%- for tag in view.tags %}
        <a href="../../tag/{{ tag | downcase | replace: " ", "-" }}">{{ tag }}</a>
        {%- endfor %}
        </div><br>
        {%- endif %}
    </div>
    <div class="post-head-right">
        <a class="post-title-link" href="{{ content_dir }}{{ view.path }}.html" aria-label="{{ view.title }}">
        <img width="800" height="450" alt="Thumbnail" src="{{ content_dir }}\assets\img\thumbnails\{{ view.thumbnail | default: "default" }}.png"></img>
        </a>
    </div>
</div>